{% extends 'base_main.html' %}

{% load filters %}

{% block title %}{{ set.name }}{% endblock %}

{% block main %}
    <h3>{{ set.name }}</h3>
    <p>{{ set.description }}</p>
    <h4>Таски</h4>
    {% for settask in set.settasks_ordered %}
        {% with result=user|solved:settask.task %}
            <a href="/task?setTask_id={{ settask.id }}" style="color: {% if result %}green{% else %}{% if result == False %}red{% else %}#307df6{% endif %}{% endif %};">{{ settask.name }}. {{ settask.task.name }}</a><br>
        {% endwith %}
    {% endfor %}
    <hr><hr>
    Время начала: <b>{% if not set.start_time %}без ограничений{% else %}{{ set.start_time_moscow }}{% endif %}</b><br>
    Время окончания: <b>{% if not set.end_time %}без ограничений{% else %}{{ set.end_time_moscow }}{% endif %}</b><br>
    Публичность: <b>{% if set.public %}публично{% else %}приватно{% endif %}</b><br>
    Открытость: <b>{% if set.opened %}открыто{% else %}закрыто{% endif %} для просмотра и решения</b><br>
{% endblock %}