{% for solution in solutions %}
  <tr>
      <th scope="row">
          <a href="/solution?id={{ solution.id }}">{{ solution.id }}</a>
      </th>
      <td>
          {{ solution.time_sent }}
      </td>
      <td>
          {% if can_edit or task.show_details %}
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#resultModalLong" onclick="showData('{{ solution.id }}')">
                    {{ solution.result }}
                  </button>
                  <div id="details_{{ solution.id }}" hidden>{% autoescape off %}{{ solution.details }}{% endautoescape %}</div>
                  {% if can_edit %}
                    <div id="tests_{{ solution.id }}" hidden>{{ solution.task.tests_text }}</div>
                    <div id="log_{{ solution.id }}" hidden>{% autoescape off %}{{ solution.log_text }}{% endautoescape %}</div>
                  {% endif %}
          {% else %}{% if task.show_result %}
                  {{ solution.result }}
          {% else %}
                  Accepted
                {% endif %}
          {% endif %}
          
      </td>
      <td>
        {% if task.show_result or can_edit %}
          {{ solution.mark_property }}
        {% else %}
        {% if solution.mark == null %}
          Checking
        {% else %}
          Checked
        {% endif %}
        {% endif %}
      </td>
      <td>
<pre>
{{ solution.comment_property }}
</pre>
      </td>
  </tr>
{% endfor %}