<table class="table" style="margin-top: 30px;">
        <thead>
            <th scope="col">id</th>
            <th scope="col">Пользователь</th>
            <th scope="col">Задача</th>
            <th scope="col">Время отправки</th>
            <th scope="col">Язык</th>
            <th scope="col">Результат</th>
        </thead>
        <tbody>
{% for solution in solutions %}
    <tr>
        <td>
            <b><a href="/solution?solution_id={{ solution.id }}">{{ solution.id }}</a></b>
        </td>
        <td>
            <img src="{{ solution.user.userinfo.profile_pic_url }}" width="30px" height="30px" style="border-radius: 50%; margin-right: 10px;"><a href="/account?username={{ solution.user.username }}">{{ solution.user }}</a>
        </td>
        <td>
            <a href="/task?task_id={{ solution.task.id }}">{{ solution.task.name }}</a>
        </td>
        <td>
            {{ solution.time_sent }}
        </td>
        <td>
            <img src="{{ solution.language.logo_url }}" width="30px" height="30px">
            {{ solution.language.name }}
        </td>
        <td>
            <h4>
                {% if solution.result == testing_status %}
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ solution.percentage_done }}%"></div>
                    </div>
                {% else %}
                    <span class="badge badge-{{ solution.badge_style }}">{{ solution.number_result }}</span>
                {% endif %}
            </h4>
        </td>
    </tr>
{% endfor %}
        </tbody>
    </table>
{% if need_pagination %}
<div style="display: flex; justify-content: flex-end">
    <table>
        <tr>
            {% for num in count_pages %}
                <td><button class="btn btn-light" id="page_num_{{ num }}" onclick="setPage({{ num }})">{{ num }}</button></td>
            {% endfor %}
        </tr>
    </table>
</div>
{% endif %}