{% load filters %}

<table class="table-bordered" style="margin-top: 30px; table-layout: fixed; width: 100%;">
    <thead>
        <th scope="col"></th>
        {% for task in set.settasks_ordered %}
            <th style="text-align: center;" scope="col">{{ task.name }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.userinfo }}</td>
                {% for task in set.settasks_ordered %}
                    <td style="text-align: center;">
                        {% with pair=user.id|make_pair:task.id %}
                            {% with result=data|get_info:pair %}
                                {% if result == in_queue_status %}
                                     <span class="badge badge-secondary">{{ result }}</span>
                                {% else %}{% if result == ok_status %}
                                     <span class="badge badge-success">{{ result }}</span>
                                {% else %}{% if result|startswith:testing_status %}
                                    <span class="badge badge-secondary">{{ result }}</span>
                                {% else %}{% if result %}
                                    <span class="badge badge-danger">{{ result }}</span>
                                {% else %}
                                    <span class="badge badge-warning">-</span>
                                {% endif %}{% endif %}{% endif %}{% endif %}
                            {% endwith %}
                        {% endwith %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>